<div style="background-color: #e6e6fa">
    <p><strong>(I) For reference to fundamental python coding <a href:"https://www.w3schools.com/python">https://www.w3schools.com/python</a><br>
        Numbers in Python and how to use them.</strong></p>
        <ol>
            <li> Types of Numbers in Python </li>
            <li> Basic Arithmetic </li>
        </ol>
</div>

In [35]:
# Addition
2+1

3

In [36]:
# Subtraction
2-1

1

In [37]:
# Multiplication
2*2

4

In [11]:
# Division
3/2

1.5

In [15]:
# Powers
2**3

8

In [14]:
# Can also do roots this way
4**0.5

2.0

In [16]:
# Order of Operations followed in Python
2 - 10 * 10 + 3

-95

In [18]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

<div style="background-color: #e6e6fa">
<p><strong>(II) Using appropriate variable names to keep better track of what's going on in your code.</strong></p>
my_income = 100<br>
interest_rate = 0.1<br>

interest = my_income*interest_rate<br>

<p>Show my savings.</p>
print(interest)
</div>

In [60]:
#Variable Assignments
# Test the codes here
my_income = 100
interest_rate = 0.1

interest = my_income*interest_rate

print("The interest amount is ${}".format(interest))

The interest amount is $10.0

<div style="background-color: #e6e6fa">
<p><strong>(III) Rules to Variable Assignments</strong></p>
<p>The names you use when creating these labels need to follow a few rules:<br>
<ol>
    <li>Names can not start with a number.</li>
    <li>There can be no spaces in the name, use _ instead.</li>
    <li>Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+</li>
    <li>It's considered best practice (PEP8) that the names are lowercase.</li>
</ol>
</p>
</div>

In [20]:
a = 1

In [23]:
a += 1
print(a)

4

In [24]:
b=float(a)
print(b)

4.0

<div style="background-color: #e6e6fa">
<p><strong>(IV) Python is an Objected Oriented Programming Language, as such, very thing is an object.</strong><br>
To know the type of each object, pass the object into the type function.<br>
<br>
The class is a blueprint that defines the nature of an object.<br>
from classes, we can then construct instances of that class.<br>
instance is just a specific object created for a particular class.<br>
</p>
<pre style="background-color: #FBFCFC">

Example
  a = 1        (interger object created)
  b = "hello"  (a string object created)
  c = []       (a list object created)

</pre>

</div>

In [32]:
a=1
type(a)

int

In [31]:
print(type(a))

<class 'int'>

In [33]:
a=1.0
print(type(a))

<class 'float'>

In [39]:
#Characters between Single quote or double quotes in Python taken as a string
a="helloworld"
print(type(a))

<class 'str'>

<div style="background-color: #e6e6fa">
    <strong>(V) For Loops()</strong>
    <p><strong>#Important to take note of the 'tab' spacing. In python syntax, code alignment with tab is important.</strong></p>
</div>

In [63]:
#For every element in 'a', print the element assigned.
for i in a:
    print(i)

h
e
l
l
o
w
o
r
l
d

In [64]:
#len() function returns the number of items in 'a'.
len(a)

10

In [65]:
#The range() function returns a sequence of numbers, starting from 0 and increments by 1 (by default), and stops before a specified number.
#in the case below, len(a)=10, therefore range(len(a)) is similar to range(10)
for i in range(len(a)):
    print(i)

0
1
2
3
4
5
6
7
8
9

<div style="background-color: #e6e6fa">
<pre style="background-color: #e6e6fa">
<strong>(VI) Strings can only consist of characters, while lists can contain any data type. Because of this difference, a list cannot be easily made into a string, but string conversion into a list of characters can be done using the list() function.</strong>
</pre>
</div>

In [69]:
#Strings are immutable, meaning that we cannot update them
a[5]='c'
print(a)

TypeError: 'str' object does not support item assignment

In [70]:
#Convert string 'a' into a list using the list function 
b=list(a)
print("List b contains: {}".format(b))
b[5]='c'
print("Note 6th element in the list will be replaced with {}".format(b[5]))

List b contains: ['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
Note 6th element in the list will be replaced with c

In [71]:
#Printing list 'b' with 5th element replaced. 
print("Note 6th element is now 'c': {}".format(b))

Note 6th element is now 'c': ['h', 'e', 'l', 'l', 'o', 'c', 'o', 'r', 'l', 'd']

<div style="background-color: #e6e6fa">
<pre style="background-color: #e6e6fa">
<strong>(VII) Indexing and Slicing of strings and lists. 
      Methods used work in the same way for both lists and strings
      Lists: List/Array of any data types
      String: List/Array of characters</strong>
</pre>
</div>

In [3]:
#Declare and empty list, empty string
list1 = []
string1 = ""

list1 = ['helloworld',123,546,[1,2,3,4],'Application']
string1 = "Hello-World-App"

print("List1: {}".format(list1))
print("String1: {}".format(string1))

List1: ['helloworld', 123, 546, [1, 2, 3, 4], 'Application']
String1: Hello-World-App

In [4]:
print("First element in list: {}".format(list1[0]))
print("First element in string {}".format(string1[0]))

First element in list: helloworld
First element in string H

In [5]:
#Display from 3rd element onwards of list1 and string1
print("First element in list: {}".format(list1[2:]))
print("First element in string {}".format(string1[2:]))

First element in list: [546, [1, 2, 3, 4], 'Application']
First element in string llo-World-App

In [6]:
#Display from 3rd element onwards of list1 and string1
print("First element in list: {}".format(list1[1:3]))
print("First element in string {}".format(string1[2:-2]))

First element in list: [123, 546]
First element in string llo-World-A

In [7]:
#list from beginning to second last item.
print("First element in list: {}".format(list1[:-1]))

First element in list: ['helloworld', 123, 546, [1, 2, 3, 4]]

In [8]:
#Add to the list
list1.append("Add to End")
print("Updated list1: {}".format(list1))

Updated list1: ['helloworld', 123, 546, [1, 2, 3, 4], 'Application', 'Add to End']

In [9]:
#Insert to the list at 3rd position
list1.insert(2,"Add to 3rd element position")
print("Updated list1: {}".format(list1))

Updated list1: ['helloworld', 123, 'Add to 3rd element position', 546, [1, 2, 3, 4], 'Application', 'Add to End']

In [10]:
#Delete the 3rd element
del list1[2]
print("Updated list1:{}".format(list1))

Updated list1:['helloworld', 123, 546, [1, 2, 3, 4], 'Application', 'Add to End']

<div style="background-color: #e6e6fa">
<pre style="background-color: #e6e6fa">
<strong>(VIII) Conditional Statements if/elif/else, not/and/or/==/!=/. 
        if does not require to end with else in python.
</pre>
</div>

In [13]:
#if list1 has 6 items
list1=[10,22,45,33,66,60]

if len(list1) >= 6:
    print("List1 has {} items".format(len(list1)))

List1 has 6 items

In [14]:
#if list1 has 5 items
list1=[10,22,45,33,66]

if len(list1) >= 6:
    print("List1 has {} items".format(len(list1)))
elif len(list1) >= 5:
    print("List1 has {} < 6 items".format(len(list1)))

List1 has 5 < 6 items

In [16]:
#if list1 has 4 items
list1=[10,22,45,33]

if len(list1) >= 6:
    print("List1 has {} items".format(len(list1)))
elif len(list1) >= 5:
    print("List1 has {} < 6 items".format(len(list1)))
else:
    print("List1 has {}/4 items".format(len(list1)))

List1 has 4/4 items

In [ ]:
#String split

In [ ]:
#Functions

In [ ]:
#import